<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">Contact:</h2>

    <div class="footer-col-1 column"> 
	  <ul>
        <li>Z-Labs, Software Security Labs</li>
        <li><a href="https://z-labs.eu">https://z-labs.eu</a></li>
	  </ul>
    </div>

    <div class="footer-col-2 column">
		<ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

	  	  {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
		</ul>
    </div>


    <div class="footer-col-3 column">
	  <ul>
        <li><a href="mailto:mzet [at] owasp [dot] org">mzet [at] owasp [dot] org </a></li>
        <li>PGP Key: <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0xC0EE0613CA05BB39">0xC0EE0613CA05BB39</a></li>
        <li>PGP Fingerprint: 3BA8 D01E 0D36 94FC 8361 9065 C0EE 0613 CA05 BB39</li>
      </ul>
    </div>

  </div>

</footer>
